<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <% flash.each do |name, msg| -%>
				      <div class="alert alert-<%= name %>"><%= msg %></div>
			      <% end -%>
            <div class="box-header with-border">
                <h3 class="box-title">Novo Deck</h3>
            </div>
            <div class="box-body">
                <h4>Deck:</h4>
                <% if @deck.card.empty? %> 
                  - Não há nenhuma carta, adicione uma abaixo:
                <% end %>
                <% # Aqui fica cada carta já adicionada no deck %>
                <% @deck.card.each do |card| %>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <% 
                        image_url = CardImporter.getCardPicByID(card.wizards_card_code)
                      %>
                        <% if image_url.nil? %>
                          Não há imagem para esta carta!
                        <% else %>
                          <img src= "<%= image_url %>" >
                        <% end %>
                    </div>  
                  </div>
                <% end %>
                <hr>
                <div class = "col-xs-3" style="width: 28%"></div>
                <div class = "col-xs-6">
                  <%= simple_form_for @card, :url => url_for(:action => 'add_card', :controller => 'cards'), :method => :post do |f| %>
                    <div class="form-group has-feedback">
                      <%= f.input :wizards_card_code, class: 'form-control', :label => "Nome da carta:" %>
                      <%= f.hidden_field :deck, :value => params[:id] %>
                    </div>
                    <div class="row">
                      <div class="col-xs-4"></div>
        					    <div class="col-xs-8">
                        <%= f.button :submit, "Adicionar carta"  %>
                      </div>
                    </div>  
                    
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>